<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTDConfig 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 配置映射文件   -->
<configuration>
    <typeAliases>
        <typeAlias alias="UserDo" type="com.lizhuo.model.UserDo"/>
    </typeAliases>
    <mappers>
        <!--映射文件-->
        <mapper resource="user.xml"/>
    </mappers>
</configuration>